doctype html
html
  head
    title embadge.io
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700', rel='stylesheet', type='text/css')
    link(href='/css/main.css', rel='stylesheet', type='text/css')
  body
    a(href="https://github.com/halfdan/embadge.io")
      img(style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub")
    #content
      h1 embadge.io
      block content
