*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: white;
  font-family: 'Georgia', serif;
  margin: 0;
  padding: 0;
}

#content {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  padding: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 72px;
  line-height: 1.7;
  margin: 0;
  padding: 0;

}

h2, h3, h4 {
  color: #333;
}

p {
  color: #444;
  line-height: 1.6;
  font-size: 18px;
}

li {
  line-height: 1.6;
  font-size: 18px;
}

main a, main a:hover, main a:visited {
  color: #d01040;
}

a.btn, a:visited.btn, a:hover.btn {
  color: #fff;
  background-color: #444;
  border-color: rgba(0,0,0,0.2);
  position: relative;
  padding-left: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  display: block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-decoration: none;
}

a.btn>:first-child {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 32px;
  line-height: 34px;
  font-size: 1.6em;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,0.2);
}

main > a:visited {
  color: rgba(208, 16, 64, 0.6);
}
