*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

nav a, nav a:hover, nav a:visited {
  color: #666;
  line-height: 2rem;
  vertical-align: middle;
}

.nav-link:hover {
  text-decoration: underline;
}

main h1, main h2, main h3 {
  margin: 25px 0 10px 0;
  font-weight: bold;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
h3.site-title a {
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  font-size: 2rem;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

pre {
  background-color: #eee;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 a, h1 a:hover, h1 a:visited {
  text-decoration: none;
  color: inherit;
}

main a, main a:hover, main a:visited {
  color: #d01040;
}

main > a:visited {
  color: rgba(208, 16, 64, 0.6);
}
