%p
  embadge.io is a simple Ember.js community badge service.
  It's inspired by Matthew Beale's
  %a{:href => "https://github.com/mixonic/ember-community-versions"} Ember Community Versions
  and is open-sourced
  %a{:href => "https://github.com/halfdan/embadge.io"} on Github
%p
  Create a badge, embed it in your post, maintain it and let the community update the badge when its information is out of date.
%p
  %a{class:"btn", href: '/auth/github'}
    %span{class:"fa fa-github"}
    Sign in with Github

%h2#github Github Badges
%p The embadge API supports generating badges for your Ember projects on Github. The API for github badges is

%pre https://embadge.io/v1/:user/:repo/:branch/:package.svg

%dl.dl-horizontal
  %dt user
  %dd Your Github username or organization.

  %dt repo
  %dd The name of your repository.

  %dt branch
  %dd The branch you want to create the badge for (e.g. master).

  %dt package
  %dd The package from your package.json you want the badge for. This will also be your default label.

Optionally you can also pass an optional <code>label</code> GET-parameter that will replace the label shown on the badge.

%h2#static Static Badges
%p In case you want to use a static badge and specify version information yourself, you can use the embadge.io API. It supports four different parameters.

%p The API supports HTTPS and is accessed from is
%pre https://embadge.io/v1/badge.svg?param=...

%dl.dl-horizontal
  %dt label
  %dd Used to define the text label shown on the badge (default: 'ember-versions')

  %dt start
  %dd Valid semver string noting the earliest supported version.

  %dt end
  %dd (Optional) Valid semver string noting the last supported version.

  %dt range
  %dd (Optional) Valid semver range (e.g. "^2.3.0") noting a supported range of versions. If given, "start" and "end" will be ignored

%h2#examples Examples
%dl.dl-horizontal
  %dt Start version
  %dd
    %a{:href => "/v1/badge.svg?start=1.13.0"}
      %img{:src => "/v1/badge.svg?start=1.13.0"}/
  %dt Start and end version
  %dd
    %a{:href => "/v1/badge.svg?start=1.13.0&end=2.0.0"}
      %img{:src => "/v1/badge.svg?start=1.13.0&end=2.0.0"}/
  %dt Range
  %dd
    %a{:href => "/v1/badge.svg?range=%5E2.3.0"}
      %img{:src => "/v1/badge.svg?range=%5E2.3.0"}/
  %dt Custom label
  %dd
    %a{:href => "/v1/badge.svg?label=ember-cli&start=1.13.13"}
      %img{:src => "/v1/badge.svg?label=ember-cli&start=1.13.13"}/
  %dt Custom label & range
  %dd
    %a{:href => "/v1/badge.svg?label=ember-data&range=%5E2.3.0"}
      %img{:src => "/v1/badge.svg?label=ember-data&range=%5E2.3.0"}/

%h3#browser Browser
%p In order to easily add embadge.io to your website you can include the following script in the body:
%pre &lt;script src="//embadge.io/v1/badge.js" type="text/javascript"&gt;&lt;/script&gt;
%br/
%br/
%p
  This will search your page for
  %code span
  elements with the
  %code embadge
  class and use data attributes to generate the image URL.

%pre &lt;span class="embadge" data-start="2.3.0"&gt;&lt;span&gt;

%h2#links Links
%ul
  %li
    %a{:href => "http://emberup.co/dynamic-component-rendering/"} Dynamic component rendering
  %li
    %a{:href => "https://github.com/mixonic/ember-community-versions"} Ember Community Versions
